PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

MONGODB_URI=mongodb://localhost:27017/tradesphere

JWT_SECRET=myveryscrtjwtsecret
JWT_REFRESH_SECRET=myverysecretjwtrefreshsecret

FINNHUB_API_KEY=d7ah31pr01qmvlmfv0p0d7ah31pr01qmvlmfv0pg
ALPHA_VANTAGE_API_KEY=RBAJZ7WY7XAHCFSU

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_secret
STRIPE_SECRET_KEY=your_stripe_secret
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_CURRENCY=INR

GEMINI_API_KEY=geminikey

EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
